
@mixin flexCenter($direction,$background){
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background: $background;
    color: $textColor;
}


header{
    @include flexCenter(column,yellow);
        
    button{
        background: $primaryBtn;
        &:hover{
            background: red;
        }
        &::after{
            content:' Mahsa' ;
        }
    }
}