.container div:nth-child(odd){
    background: lightcoral;
}
.container div:nth-child(even){
    background: lightblue;
}
.container{
    text-align: center;
    color: #fff;

    display: grid;
    /* grid-template-columns: 1fr 2fr 1fr; */
    /* grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,50px); */
    grid-template: repeat(2, 50px)/repeat(3, 1fr);
    grid-gap:3px;
}