.container div:nth-child(odd){
    background: lightcoral;
}
.container div:nth-child(even){
    background: lightblue;
}

.container{
    text-align: center;
    color: #fff;

    display: grid;
    grid-template-columns: 100px auto ;
    grid-template-rows: 50px 50px 200px;
    grid-gap:3px;
}