.container div:nth-child(odd){
    background: lightcoral;
}
.container div:nth-child(even){
    background: lightblue;
}
.container{
    color: #fff;
    text-align: center;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px 200px 60px;
    grid-template-areas: 
    ". h h h h h h h h h h h ."
    'm c c c c c c c c c c c c'
    '. f f f f f f f f f f f .';

}
.header{
    /* grid-column: 1/-1; */
    grid-area: h;
}
.menu{
    /* grid-row: 2/ span 1; */
    grid-area: m;
}
.content{
    /* grid-column: 2/-1; */
    grid-area: c;
}
.footer{
    /* grid-column: 1/-1; */
    grid-area: f;
}