.wrapper{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 40px 100px 40px;
}
.header{
    background: lightblue;
    grid-column: span 12;
}
.menu{
    background: lightcoral;
    grid-column: span 4;
}
.content{
    background: orange;
    grid-column: span 8;
}
.footer{
    background: lightgreen;
    grid-column: span 12;
}

@media screen and (max-width:480px){
    .header{
        grid-column: span 6;
    }
    .menu{
        grid-column: span 6;
        grid-row: 1;
    }
    .content{
        grid-column: span 12;
    }
}